# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
src/__pycache__/
src/utils/.ipynb_checkpoints/
src/utils/__pycache__/
